<div class="remove-container container-block">
  <h2 class="container-block-title">
    Paul Weingartner
  </h2>
  Paul Weingartner (* 8. Juni 1931 in Innsbruck) ist ein österreichischer Philosoph und Wissenschaftstheoretiker.

Nach dem Studium der Primarstufe arbeitete er bis 1955 für drei Jahre als Volksschullehrer. Danach studierte er bis 1961 an der Universität Innsbruck Philosophie, Physik und Mathematik. Es folgte eine Tätigkeit als Postdoc bei Karl Popper in London und als Humboldt-Stipendiat bei Wolfgang Stegmüller in München.

Er war Assistent in Salzburg und von 1970 bis zu seiner Emeritierung 1999 Professor für Philosophie an der Universität Salzburg. Ab 1972 war er Vorstand des Instituts für Wissenschaftstheorie des Internationalen Forschungszentrums Salzburg.

Die Maria-Curie-Skłodowska-Universität in Lublin ernannte ihn 1995 zum Ehrendoktor.


</div><!--//About-->